.data-graph {
  @media screen and (min-width: 768px) {
    max-width: 45vw;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    max-width: 90vw;
    height: auto;
  }
}

.logo {
  height: 60px;
  width: auto;
}